/* external part */
#magicMouseCursor{
    opacity: 0;
    z-index: 9999;
}

/* internal part */
#magicPointer{
    background: #FFA001 !important;
    opacity: 0;
    z-index: 9999;
}

body:has(.button:hover) #magicMouseCursor.cursor-square{
    border-radius: 100px !important;
}
