@media (max-width: 990px){
    .project{
        width: calc(100% / 2);
    }
}

@media (max-width: 580px) {
    .project{
        width: 100%;
    }

    .modal__close{
        height: 30px;
        width: 30px;

        right: 0px;
        top: -35px;
    }

    .modal__close i{
        font-size: 16px;
    }
}
