.page{
    width: 100%;
    min-height: 100%;
    max-width: 1240px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;

    margin: 0 auto;
    padding: 0 20px 20px;
}

.projects{
    width: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.project{
    width: calc(100% / 3);
    padding: 0 15px;
    margin-bottom: 30px;
}

.project__card{
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: 4px;
}

.project__card>img{
    display: block;
    position: relative;

    border-radius: 4px;

    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.project__card__text{
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    background: var(--primary-color);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.project__card:hover .project__card__text{
    opacity: 1;
}

.project__card__text span{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

    color: var(--text-color);
}

.modal_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 100;
    background: rgba(0,0,0,.9);

    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;

    display: none;
    /*display: flex;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal{
    position: relative;

    background-color: var(--bg-color);
    border-radius: 15px;
    padding: 32px;

    width: 80%;
    max-width: 680px;
}

.modal__close{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: 3px solid var(--text-color);
    border-radius: 50%;
    color: var(--text-color);
    opacity: .75;

    position: absolute;
    top: -20px;
    right: -50px;
}

.modal__close i{
    font-size: 22px;
}

.modal__title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: var(--primary-color);

    margin-bottom: 8px;
    padding: 10px 0 20px;
}

.modal_media{
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
}

.modal_media .swiper{
    width: 100%;
    height: auto;
}

.modal__info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-bottom: 25px;
}

.modal_media img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.modal__info__col{
    width: 50%;
    padding: 0 15px;
}

.info{
    margin-bottom: 10px;
}

.info i{
    color: var(--text-color);
    margin-right: 5px;
}

.info__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--text-color);
}

.info__text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--text-color);
}

.preview_link{
    color: var(--primary-color);
    text-decoration: underline;
}
